$highlight-blue: 	#5284EA;
$border-grey: #E8E8EE;

.section{
  display: flex;
  align-items: center;
  border-top: 1px solid $border-grey;
  border-bottom: 1px solid $border-grey;
  height:50px;
}

#footer{
  @extend .section;
  position: absolute;
  width: 100%;
  bottom: 0px;
  align-self: baseline;
}

#header{
  @extend .section;
  background-color:	#F5F5F5;
  border-radius:5px 5px 0px 0px ;
}

#subheader{
  @extend .section;
  height:40px;
  border-top:none;
}

#title{
  display:inline-block;
  color:black;
  font-size:14px;
  font-family: sans-serif;
  font-weight:400;
  margin-left:20px;
}

#subtitle{
  color: lightgray;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 400;
  margin-left:20px;

}

#modal{
  position:relative;
  min-height: 600px;
  width: 23%;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px $border-grey;
  border-radius: 5px;
  box-shadow: 10px 10px 10px 10px #888888;
  padding-bottom: 45px;
}

#header{
  @extend .section;
  background-color:	#F5F5F5;
  border-radius: 5px 5px 0px 0px ;
}

#subheader{
  @extend .section;
  height: 40px;
  border-top: none;
}

#footer{
  @extend .section;
  position: absolute;
  width: 100%;
  bottom: 0px;
  align-self: baseline;
}

#files{
  min-height: 300px;
  margin-left: 20px;
  margin-top: 20px;
}

a{
  text-align: left;
}

.folder{
  display: flex;
  align-items: center;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}



.folder:hover{
  background-color: $highlight-blue;
}

.file{
  @extend .folder;
}

.file:hover{
  @extend .folder:hover;
}

.folderfile-text{
  margin: 0px;
  margin-left: 9px;
  display: inline-block;
  font-weight: 400;
  color: #464646;
  font-size: 13px;
  font-family: sans-serif;
}

.subdirectory{
  margin-left: 20px;
}

.highlighted{
  background-color: lightgreen;
}

h1 {
  margin: 0px;
}

div{
  margin:0px;
}

#footer-link{
  font-size: 12px;
  position: relative;
  margin-left: 20px;
  color: #0080ff;
  font-family: sans-serif;
}

#done-btn{
  position: absolute;
  background-color: $highlight-blue;
  right: 15px;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  width: 65px;
  height: 32px;
}

.folder-icon{
  display: inline-block;
	background: url('/icon-sprite.png') no-repeat 0 0;
	width: 14px;
	height: 14px;
  margin-left: 10px;
}

.private-icon {
  @extend .folder-icon;
	background: url('/icon-sprite.png') no-repeat -14px 0;
}

.plus-icon{
  display: inline-block;  
	background: url('/icon-sprite.png') no-repeat -58px -2px;
	width: 9px;
	height: 9px;
}

.minus-icon{
  @extend .plus-icon;
	background: url('/icon-sprite.png') no-repeat -72px -2px;
}

.file-icon {
	background: url('/icon-sprite.png') no-repeat -29px 0;
	width: 12px;
	height: 14px;
  display:inline-block;
}

.x-icon {
  position: absolute;
  right: 15px;
	background: url('/icon-sprite.png') no-repeat -43px -1px;
  width: 12px;
	height: 12px;
  display: inline-block;
  // transform: scale(1.3);
  margin-left: 75%;
  color: grey;
}
